<ion-header>
  <ion-toolbar>

    <ion-title *ngIf="episode$ | async as episode">Pefil {{ episode.name }}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-card *ngIf="episode"> -->
    <ion-card *ngIf="episode$  | async as episode">

    <img [src]="episode.image" width="100%" alt="">

    <ion-card-header>
      <ion-card-subtitle ion-text-center>{{ episode.air_date }}</ion-card-subtitle>
      <ion-card-title>{{ episode.name }}</ion-card-title>
    </ion-card-header>

    <ion-item lines="none">
      <ion-label>ID</ion-label>
      <span slot="end">{{ episode.id }} </span>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Episode</ion-label>
      <span slot="">{{ episode.episode }}</span>
    </ion-item>
    
    <ion-item lines="none">
      <ion-label>Created</ion-label>
      <span slot="">{{ episode.created }}</span>
    </ion-item>


  </ion-card>

</ion-content>
