<ion-header>
  <ion-toolbar>

    <ion-title *ngIf="character$ | async as character">Pefil {{ character.name }}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-card *ngIf="character"> -->
    <ion-card *ngIf="character$  | async as character">

    <img [src]="character.image" width="100%" alt="">

    <ion-card-header>
      <ion-card-subtitle ion-text-center>{{ character.type }}</ion-card-subtitle>
      <ion-card-title>{{ character.name }}</ion-card-title>
    </ion-card-header>

    <ion-item lines="none">
      <ion-label>Status</ion-label>
      <span slot="end">{{ character.status }} </span>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Specie</ion-label>
      <span slot="">{{ character.species }}</span>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Origin</ion-label>
      <span slot="">{{ character.origin.name }}</span>
    </ion-item>

  </ion-card>

</ion-content>
