<ion-header>
  <ion-toolbar>
    <ion-title>Lista Episodios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-searchbar (ionChange)="searchEpisode(texto.value)" #texto></ion-searchbar>

  <ion-list>

    <ion-item *ngFor="let episode of episodes" [routerLink]="['/episodes-list', episode.id]">

      <ion-label>{{episode.name}}</ion-label>
      
      <ion-label>
        
        <h2>{{ episode.name}}</h2>
        <h4>{{ episode.air_date}}</h4>
        <h3>{{ episode.episode}}</h3>

        </ion-label> 
      </ion-item>
        
</ion-list>

</ion-content>
